.main{
  text-align: center;
  background: url(../css/img/back.jpg) no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
}

.title{
  padding-top:160px;
  font-family: "Tittle";
  color: rgb(0, 0, 0);
}

@font-face{
  font-family: "Tittle";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");   
}
.hotelContain{
  display: flex;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 23%;
  margin-left: 23%;
  border-left-style: dashed;
    border-left-width: 2px;
    border-left-color: rgb(216, 216, 216);
    border-right-style: dashed;
    border-right-width: 2px;
    border-right-color: rgb(216, 216, 216);
}
.hotelInfo{
  background-color: antiquewhite;
  height: 300px;
  margin-left: 20px;
}
.hotel{
  background-color: rgb(255, 255, 255);
  width:300px;
  cursor: pointer;
  font-family: "Hotel";
  transition-duration: 1s;
  height: 400px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 15px;
  margin-bottom: 10px;
  border: 1px rgb(211, 211, 211) solid;
    border-radius: 4px ;
  }
  
  
  .hotel:hover{
  box-shadow: 1px 2px 10px 1px black;
  
  
  }
  
  
  .hotelPhoto{
  margin-left: 30px;
  
  margin-top: 15px;
  margin-bottom: 8px;
  box-shadow: 1px 2px 10px 1px black;
  }
  
  .nameHotel{
  margin: 0;
  padding: 0;
  font-size: 19px;
  }
  
  .desc{
  margin: 0;
  padding: 0;
  
  
  }
  
  
  @font-face{
    font-family: "Hotel";
    src: url("../fonts/PTSans-Regular.ttf") format("truetype"); 
    
  } 
  
  .costHotel{
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  }
  
  .more{
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(211, 211, 211, 0.795);
    margin-left: 30px;
    padding:9px 9px 9px 9px ;
    border-radius: 7px;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .more:hover{
    background-color: rgb(233, 233, 233);
  
  }
  .alert{
    width:auto;
    height: 30px;
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    position: absolute;
  right: 15px;
  bottom: 15px;
  }

  .error{
    width:auto;
    height: 30px;
    padding: 15px;
    border: 1px solid #dba2a2;
    border-radius: 4px;
    color: #ff0000;
    background-color: #b88484;
    position: absolute;
  right: 15px;
  bottom: 15px;
  }